<p-splitter
  [style]="{ minHeight: '100vh' }"
  [panelSizes]="[22, 78]"
  styleClass="app-shell-splitter"
>
  <ng-template pTemplate="panel">
    <p-panel [showHeader]="false">
      <ng-template pTemplate="content">
        <div class="sidebar-inner">
          <div class="brand">
            <div class="title">{{ projectName }}</div>

            <div class="brand-meta">
              <p-tag [value]="'API ' + apiVersion" severity="info"></p-tag>
              <p-tag [value]="'LLM ' + llmModel" severity="success"></p-tag>
            </div>
          </div>

          <p-divider></p-divider>

          <app-current-user-info></app-current-user-info>

          <p-divider></p-divider>

          <p-menu [model]="menuItems" styleClass="shell-menu"></p-menu>

          <div class="spacer"></div>

          <button
            pButton
            type="button"
            class="p-button-danger p-button-outlined"
            label="Salir"
            icon="pi pi-sign-out"
            (click)="logout()"
          ></button>

          <div class="meta">
            <small>Versión API: {{ apiVersion }}</small>
          </div>
        </div>
      </ng-template>
    </p-panel>
  </ng-template>

  <ng-template pTemplate="panel">
    <p-panel [showHeader]="false">
      <ng-template pTemplate="content">
        <div class="app-content">
          <router-outlet></router-outlet>
        </div>
      </ng-template>
    </p-panel>
  </ng-template>
</p-splitter>