<p-card
  styleClass="auth-card auth-card--premium"
  [style]="{ width: '980px', maxWidth: '96vw' }"
>
  <ng-template pTemplate="header">
    <div class="auth-head">
      <div class="auth-title">Home</div>
      <div class="auth-subtitle">Panel principal del sistema</div>
    </div>
  </ng-template>

  <div class="auth-body">
    <div class="p-fluid formgrid grid">
      <div class="col-12 md:col-4">
        <p-card>
          <div style="display:flex; flex-direction:column; gap:10px;">
            <div style="font-weight:800;">Estado general</div>
            <p-tag value="Activo" severity="success"></p-tag>
          </div>
        </p-card>
      </div>

      <div class="col-12 md:col-4">
        <p-card>
          <div style="display:flex; flex-direction:column; gap:10px;">
            <div style="font-weight:800;">Módulos</div>
            <div>Home, Group, User</div>
          </div>
        </p-card>
      </div>

      <div class="col-12 md:col-4">
        <p-card>
          <div style="display:flex; flex-direction:column; gap:10px;">
            <div style="font-weight:800;">Versión</div>
            <div>v1</div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</p-card>